@media(max-width:720px){

  .box_settings nav button{
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .box_settings{
    width: 90%;
    }
  
  #qu{
    position: absolute;
    top: 27%;
    transform: translate(-50%,0%);
    left: 50%;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    } 
    .inp{
      position: absolute;
      left: 8%;
      top: 43.5%;
      padding: 5px 0px;
      width: 103px;
      outline: 0;
      border-radius: 15px;
      text-align: center;
      font-size: 8vw;
      border: 3px solid var(--color);
    }
    #_{
      position: absolute;
      left: 42%;
      top: 43%;
      outline: 0;
      border-radius: 10px;
      text-align: center;
      font-size: 10vw; 
    }
    
    #number{
      position: absolute;
      left: 53%;
      top: 43%;
      font-size: 10vw;
      color: var(--color);
      padding: 2px 12px;
      outline: 0;
      border-radius: 10px;
      text-align: center;
    }
    #eq{
      position: absolute;
      left: 67%;
      top: 43%;
      padding: 2px 12px;
      outline: 0;
      border-radius: 10px;
      text-align: center;
      font-size: 10vw;
    }
    #result{
      position: absolute;
      left: 77.5%;
      top: 43%;
      padding: 2px 12px;
      outline: 0;
      border-radius: 10px;
      text-align: center;
      font-size: 10vw;
    }
    #score{
      font-size:6vw
    }    
    ._1{
      position: absolute;
      transform: translate(-50%,0);
      left: 50%;
      width: 90%;
      top:13%;
      height: 20px;
      border-radius: 10px;
      box-sizing: border-box;
      overflow: hidden;
    }


    #container{
      overflow: hidden;
  }
}
@media(max-width:840px) and (min-width:720px){
  .inp{
    position: absolute;
    padding: 5px 0px;
    left: 20%;
    width: 140px;
    outline: 0;
    border-radius: 10px;
    text-align: center;
    font-size:15px ;
}
#score{
  font-size:6vw
}
#number{
  position: absolute;
  left: 50%;
  top: 43%;
  font-size: 10vw;
  color: var(--color);
  padding: 2px 12px;
  outline: 0;
  border-radius: 10px;
  text-align: center;
}
.inp{
  left: 14%;
  top: 44%;
}
img{
filter: hue-rotate(130deg);
}
.box_settings nav button{
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  overflow: hidden;
}}
